<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login To' Flama</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <form class="login">
        <div>
          <label for="username">Username:</label>
          <input id="username" type="text" name="username" />
        </div>
        <div>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password" />
        </div>
        <div>
          <button type="submit">Login</button>
        </div>
      </form>
</body>
</html>